* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 로그인 페이지 */

#loginContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 800px;
    height: 600px;
    display: flex;

}

#leftContainer {
    width: 400px;
    height: 600px;
    border: 1px solid;
    margin-left: 12px;

}

#rightContainer {
    width: 350px;
    height: 600px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 240px;
    margin-bottom: 32px;
}

.loginBox {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox input {
    width: 258px;
    height: 36px;
    padding: 12px;
    margin-top: 8px;
    border-radius: 4px;
    border: #67B5FA;
    border: 1px solid #aaa;
    background-color: rgb(235, 232, 232);
}

.loginBtn {
    border-radius: 6px;
    border: 0;
    width: 258px;
    height: 32px;
    background-color: #67B5FA;
    color: white;
    margin-top: 12px;
}

#membershipContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    border: 1px solid #aaa;
    margin-top: 16px;
}

.join-membership {
    color: #67B5FA;
    text-decoration: none;
    margin-left: 6px;
}


/* 회원가입 페이지 */

#accountsContainer {
    width: 350px;
    height: 600px;
    border: 1px solid #aaa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;

}


.accountBox {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountBox input {
    width: 258px;
    height: 36px;
    padding: 12px;
    margin-top: 8px;
    border-radius: 4px;
    border: #67B5FA;
    border: 1px solid #aaa;
    background-color: rgb(235, 232, 232);
}

.account-btn {
    border-radius: 6px;
    border: 0;
    width: 258px;
    height: 32px;
    background-color: #67B5FA;
    color: white;
    margin-top: 12px;
}

/* 메인 페이지 */

#mainContainer {
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#navContainer {
    width: 200px;
    background-color: white;
    padding: 40px 16px 0 16px;
}

#navContainer li {
    list-style-type: none;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    height: 50px;

}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-left: 12px;
    vertical-align: middle;

}

.nav-text{
    font-size: 16px;
    margin-left: 16px;
}

#navContainer li:hover{
    background-color: #D9D9D9;
    border-radius: 12px;
}

#postContainer{
    margin-left: 76px;
    width: 630px;
    background-color:#aaa;
    display: flex;
    justify-content: center;

}

.post-container{
    width: 468px;
    height: 760px;
    background-color: #D9D9D9;
    padding: 16px 0 0 0;
    position: relative;

}
.post-nickname{
    margin-left: 8px;
    font-size: 16px;
}
.more-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 20px;
}
.post-img-box{
    width: 468px;
    height: 468px;
    margin-top: 16px;
    border: 1px solid;
}